<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>みんなの音作り</title>
    <link rel="stylesheet" href="users.scss">
</head>
<body>
    <header>
        <h1>みんなの音作り</h1>
    </header>
    
    <div class="main">
        <h1>ログイン</h1>
        <div class="main-form">
            <div class="email">
                <h2>Email</h2>
                <input type="text">
            </div>
            <div class="password">
                <h2>Password</h2>
                <input type="text">
            </div>
            <input type="submit" value="ログイン">
        </div>
            <input type="submit" value="新規登録">
            <input type="submit" value="パスワードを忘れた方">        
    </div>

</body>
</html>


