<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>みんなの音作り</title>
    <%= stylesheet_link_tag "users", :media => "all" %>
</head>
<body>
<header>
    <%= link_to("みんなの音作り", "/" , class:"header-logo") %>
</header>
    <div class="top-wrapper">
        <h1>ログイン</h1>
        <div class="main-form">
            <div class="email">
                <h2>Email</h2>
                <input class="text" type="text">
            </div>
            <div class="password">
                <h2>Password</h2>
                <input class="text" type="text">
            </div>
            <div class="button">
            <input type="submit" value="ログイン">
            </div>
            <div class="button">
            <input type="submit" value="新規登録">
            </div>
            <div class="button">
            <input type="submit" value="パスワードを忘れた方"> 
            </div>
        </div>
    </div>
</body>
</html>


