<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>みんなの音作り</title>
    <%= stylesheet_link_tag "home", :media => "all" %>
</head>
<body>
<header>
    <%= link_to("みんなの音作り", "/", class:"header-logo") %>
  <!--  <%= link_to("ログイン", "users/login_form", class:"header-list") %> -->
    <%= link_to "ログイン", "users/login_form", class: "btn btn-primary" %>
</header>
    

</body>
</html>


