// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
header{
    height: 100px;
    border-bottom: 2px solid  aqua;
}

header h1{
    float: left;
}


.top-wrapper{
    margin: 0 auto;
    width: 1200px;
    height: 990px;
    background-image: url("back1.jpeg");
    background-size: cover;
}

.top-wrapper h1{
    color: aliceblue;
    text-align: center;
}

.top-wrapper input{
    margin-bottom: 10px;
    display: inline-block;
}

.main-form{
    text-align: center;
    padding: 40px;
    border: 2px solid aqua;
    border-radius: 30px;
    background-color: aliceblue;

}

.main-form form{
    width: 100%;
}


.email h2{
    text-align: left;
}

.password h2{
    text-align: left;
}